body {
  margin-top: 50px; }

.slide-block.active .arrow:before {
  content: '\e252'; }

.slide-block .content {
  display: none; }

.slide-block .arrow:before {
  content: '\e250'; }

.slide-block .title {
  font-weight: bold;
  background-color: #fff;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  cursor: pointer; }

.slide-block:before {
  content: '';
  position: relative;
  border-top: 1px solid #000000;
  display: inline-block;
  height: 1px;
  width: 100%;
  top: 16px; }

.form-inline .selectize-control {
  width: 300px;
  display: inline-block;
  vertical-align: top; }

.tile-box {
  position: relative;
  box-shadow: -1px 3px 26px -4px #9c9c9c;
  margin-bottom: 20px;
  padding: 20px; }
  .tile-box .icons {
    position: absolute;
    right: 20px;
    top: 20px; }
    .tile-box .icons > div {
      display: inline-block;
      padding: 0 2px; }
    .tile-box .icons .glyphicon {
      cursor: pointer; }
  .tile-box .header {
    font-weight: bold;
    border-bottom: 1px solid #9c9c9c;
    margin-bottom: 20px; }

.form-group {
  height: 34px; }

.slider-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .slider-image .select-image {
    width: 10%;
    outline: 1px solid #cccccc;
    height: inherit;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 2; }
  .slider-image input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 36px;
    z-index: 20;
    width: 10%;
    cursor: pointer; }
  .slider-image .filename {
    width: 80%;
    border: none;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    overflow: hidden;
    padding-left: 10px; }
  .slider-image .drag-image, .slider-image .delete-image {
    vertical-align: top;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 10%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 36px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 0; }

.add-slider-image {
  width: 10%;
  outline: 1px solid #cccccc;
  cursor: pointer;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 34px; }

.arrow-left {
  background-image: url("../images/slider_arrows.png");
  height: 80px;
  width: 40px;
  background-position: 0 0;
  position: absolute;
  left: -40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer; }

.arrow-right {
  background-image: url("../images/slider_arrows.png");
  height: 80px;
  width: 40px;
  background-position: -40px 0;
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer; }

/*# sourceMappingURL=app.css.map */
