body {
  margin-top: 50px;
}

.slide-block {
  &.active {
    .arrow {
      &:before {
        content: '\e252';
      }
    }
  }
  .content {
    display: none;
  }
  .arrow {
    &:before {
      content: '\e250';
    }
  }
  .title {
    font-weight: bold;
    background-color: #fff;
    display: inline-block;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
  }
  &:before {
    content: '';
    position: relative;
    border-top: 1px solid #000000;
    display: inline-block;
    height: 1px;
    width: 100%;
    top: 16px;
  }
}

.form-inline {
  .selectize-control {
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
}

.tile-box {
  position: relative;
  box-shadow: -1px 3px 26px -4px rgba(156,156,156,1);
  margin-bottom: 20px;
  padding: 20px;
  .icons {
    position: absolute;
    right: 20px;
    top: 20px;
    > div {
      display:inline-block;
      padding: 0 2px;
    }
    .glyphicon {
      cursor: pointer;
    }
  }
  .header {
    font-weight: bold;
    border-bottom: 1px solid rgba(156,156,156,1);
    margin-bottom: 20px;
  }
}
.form-group {
  height: 34px;
}
.slider-image {
  display: flex;
  align-items: center;
  position: relative;
  .select-image {
    width: 10%;
    outline: 1px solid #cccccc;
    height: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 2;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 36px;
    z-index: 20;
    width: 10%;
    cursor: pointer;
  }
  .filename {
    width: 80%;
    border: none;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: inline-flex;
    align-items: center;
    height: 36px;
    overflow: hidden;
    padding-left: 10px;
  }
  .drag-image,.delete-image {
    vertical-align: top;
    display: inline-flex;
    width: 10%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 36px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 0;
  }
}

.add-slider-image {
  width: 10%;
  outline: 1px solid #cccccc;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.arrow-left {
  background-image: url("../images/slider_arrows.png");
  height: 80px;
  width: 40px;
  background-position: 0 0;
  position: absolute;
  left: -40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}
.arrow-right {
  background-image: url("../images/slider_arrows.png");
  height: 80px;
  width: 40px;
  background-position: -40px 0;
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}